/* Overlay.css */
.overlay
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	
	font-size: 10vmin;
	
	text-align: center;
	vertical-align: middle;
	
	color: #FFF;
	opacity: 0.8;
}

.overlay.winner
{
	background-color: #016409;
}

.overlay.looser
{
	background-color: #E14141;
}

.overlay.draw
{
	background-color: #4169E1;
}

.overlay .winner,
.overlay .looser,
.overlay .draw
{
	display: none;
}


.overlay.winner .winner,
.overlay.looser .looser,
.overlay.draw .draw
{
	display: inline-block;
}

.overlay .msg-center
{
	max-width: 100%;
	padding: 1em;
}

.overlay .close
{
	position: absolute;
	right: 1em;
	top: 1em;
	
	display: block;
	width: 2em;
	height: 2em;
	
	font-size: 5vmin;
	border: none;
	border-radius: 50%;
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.01);
	
	cursor: pointer;
	transition: all 0.2s ease 0.1s;
}

.overlay .close:hover,
.overlay .close:focus,
.overlay .close:active
{
	background-color: rgba(255, 255, 255, 0.5);
}


