/* TicTacToe.css */
[hidden],
[hidden="hidden"]
{
	display: none !important;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	background-color: #FFF;
	color: #000;
	font-family: "Source Code Pro", consolas, sans-serif;
}

html,
body
{
	display: block;
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	
	color: #888;
	background-color: #222;
}

table,
th,
td
{
	border: 2vmin solid #888;
}

table
{
	width: 100vmin;
	height: 100vmin;
	border-collapse: collapse;
}

td
{
	width: 33%;
	/*width: calc(100% / 3);*/
	height: 33%;
	/*height: calc(100% / 3);*/
	padding: 0;
}

input,
label:before
{
	display: none;
}

label:before
{
	width: 100%;
	height: 100%;
	padding: 0;
	font-size: calc(100vmin / 4);
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	font-weight: bold;
}

input:checked + label:before
{
	display: block;
}

input[value="0"] + label:before
{
	content: "O";
	content: "\039F";
	color: #E14141;
}

input[value="1"] + label:before
{
	content: "\00D7";
	content: "\2715";
	content: "\2713";
	content: "\2714";
	content: "\2611";
	content: "\2612";
	content: "\2717";
	content: "\2718";
	content: "\2716";
	color: #4169E1;
}
